*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  background:#f0f2f5; /* abu muda */
  color:#333;
}

header{
  background:#2c3e50;
  color:white;
  padding:15px 20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:20px;
  font-weight:bold;
}

.container{
  padding:20px;
}

.cards{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  margin-top:20px;
}

.card{
  background:white;
  border-radius:15px;
  padding:25px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  text-decoration:none;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.card h3{
  font-size:20px;
  margin-top:10px;
}

.card p{
  margin-top:8px;
  font-size:14px;
  color:#444;
}

.icon{
  font-size:40px;
}

.blue{background:#3498db; color:white;}
.purple{background:#9b59b6; color:white;}
.green{background:#2ecc71; color:white;}

.info-box{
  background:white;
  padding:15px;
  border-radius:12px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
  margin-top:15px;
}

.task-card{
  background:white;
  padding:15px;
  margin:15px 0;
  border-radius:12px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.deadline-warning{
  background:#fff3cd;
  border-left:6px solid #f1c40f;
}

.deadline-danger{
  background:#f8d7da;
  border-left:6px solid #e74c3c;
}

/* BUTTON */
button, .btn{
  padding:10px 15px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-size:14px;
}

.btn-upload{
  background:#f39c12;
  color:white;
  font-weight:bold;
}

.btn-upload:hover{
  opacity:0.8;
}

/* TABLE ABSENSI */
table{
  width:100%;
  border-collapse:collapse;
  background:white;
  margin-top:20px;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

th{
  background:#34495e;
  color:white;
  padding:12px;
}

td{
  padding:10px;
  text-align:center;
}

.btn-hadir{
  background:#2ecc71;
  color:white;
}

.btn-izin{
  background:#3498db;
  color:white;
}

.btn-sakit{
  background:#f1c40f;
  color:black;
}

.btn-alpha{
  background:#e74c3c;
  color:white;
}

form{
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
  max-width:400px;
  margin:auto;
}

input, textarea{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:8px;
  border:1px solid #ccc;
}

.login-box{
  background:white;
  padding:30px;
  width:350px;
  margin:100px auto;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  text-align:center;
}

.login-box h2{
  margin-bottom:15px;
}

a{
  text-decoration:none;
}

/* FOOTER */
.footer{
  text-align:center;
  margin-top:20px;
  color:#777;
}

select{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:8px;
  border:1px solid #ccc;
  background:white;
}

form h3{
  text-align:center;
  margin-bottom:10px;
}

.btn-upload{
  width:100%;
  background:#3498db;
  color:white;
  font-weight:bold;
  transition:0.3s;
}

.btn-upload:hover{
  background:#2980b9;
}

.btn-back{
  display:inline-block;
  background:#2c3e50;
  color:white;
  padding:8px 12px;
  border-radius:8px;
  margin-bottom:15px;
}
.btn-back:hover{
  opacity:0.8;
}
